div(ng-controller='dashboardControl')
    // BEGIN SIDEBPANEL
    nav.page-sidebar(data-pages='sidebar')
      // BEGIN SIDEBAR MENU TOP TRAY CONTENT
      #appMenu.sidebar-overlay-slide.from-top
        .row
          .col-xs-6.no-padding
            a.p-l-40(href='#')
              img(src='assets/img/demo/social_app.svg', alt='socail')
          .col-xs-6.no-padding
            a.p-l-10(href='#')
              img(src='assets/img/demo/email_app.svg', alt='socail')
        .row
          .col-xs-6.m-t-20.no-padding
            a.p-l-40(href='#')
              img(src='assets/img/demo/calendar_app.svg', alt='socail')
          .col-xs-6.m-t-20.no-padding
            a.p-l-10(href='#')
              img(src='assets/img/demo/add_more.svg', alt='socail')
      // END SIDEBAR MENU TOP TRAY CONTENT
      // BEGIN SIDEBAR MENU HEADER
      .sidebar-header
        h2 Lista Proyectos
        .sidebar-header-controls
          button.btn.btn-xs.sidebar-slide-toggle.btn-link.m-l-20(type='button', data-pages-toggle='#appMenu')
            i.fa.fa-angle-down.fs-16
          button.btn.btn-link.visible-lg-inline(type='button', data-toggle-pin='sidebar')
            i.fa.fs-12
      // END SIDEBAR MENU HEADER
      // START SIDEBAR MENU
      .sidebar-menu
        ul.menu-items
          li.m-t-30
            a.detailed(href='index.html')
              span.title Dashboard
              span.details 12 New Updates
            span.bg-success.icon-thumbnail
              i.pg-home
          li
            a(href='javascript:;')
              span.title Aplicación
              span.arrow
            span.icon-thumbnail
              i.pg-form
            ul.sub-menu
              li
                a(href='generador') Generador
                span.icon-thumbnail fe
          li
            a(href='analitics')
              span.title Analitics
            span.icon-thumbnail
              i.pg-charts
        .clearfix
      // END SIDEBAR MENU
    // END SIDEBAR
    // END SIDEBPANEL
    // START PAGE-CONTAINER
    .page-container
      // START HEADER
      .header
        // START MOBILE CONTROLS
        .container-fluid.relative
          // LEFT SIDE
          .pull-left.full-height.visible-sm.visible-xs
            // START ACTION BAR
            .header-inner
              a.btn-link.toggle-sidebar.visible-sm-inline-block.visible-xs-inline-block.padding-5(href='#', data-toggle='sidebar')
                span.icon-set.menu-hambuger
            // END ACTION BAR
          .pull-center.hidden-md.hidden-lg
            .header-inner
              .brand.inline
                img(src='assets/img/logo.png', alt='logo', data-src='assets/img/logo.png', data-src-retina='assets/img/logo_2x.png', width='78', height='22')
          // RIGHT SIDE
          .pull-right.full-height.visible-sm.visible-xs
            // START ACTION BAR
            .header-inner
              a.btn-link.visible-sm-inline-block.visible-xs-inline-block(href='#', data-toggle='quickview', data-toggle-element='#quickview')
                span.icon-set.menu-hambuger-plus
            // END ACTION BAR
        // END MOBILE CONTROLS
        .pull-left.sm-table.hidden-xs.hidden-sm
          .header-inner
            .brand.inline
              h2 Cima
            // START NOTIFICATION LIST
            ul.notification-list.no-margin.hidden-sm.hidden-xs.b-grey.b-l.b-r.no-style.p-l-30.p-r-20
              li.p-r-15.inline
                .dropdown
                  a#notification-center.icon-set.globe-fill(href='javascript:;', data-toggle='dropdown')
                    span.bubble
                  // START Notification Dropdown
                  .dropdown-menu.notification-toggle(role='menu', aria-labelledby='notification-center')
                    // START Notification
                    .notification-panel
                      // START Notification Body
                      .notification-body.scrollable
                        // START Notification Item
                        .notification-item.unread.clearfix
                          // START Notification Item
                          .heading.open
                            a.text-complete.pull-left(href='#')
                              i.pg-map.fs-16.m-r-10
                              span.bold Carrot Design
                              span.fs-12.m-l-10 David Nester
                            .pull-right
                              .thumbnail-wrapper.d16.circular.inline.m-t-15.m-r-10.toggle-more-details
                                div
                                  i.fa.fa-angle-left
                              span.time few sec ago
                            .more-details
                              .more-details-inner
                                h5.semi-bold.fs-16
                                  | “Apple’s Motivation - Innovation 
                                  br
                                  |                                                             distinguishes between 
                                  br
                                  |                                                             A leader and a follower.”
                                p.small.hint-text
                                  | Commented on john Smiths wall.
                                  br
                                  |  via cima framework.
                          // END Notification Item
                          // START Notification Item Right Side
                          .option(data-toggle='tooltip', data-placement='left', title='mark as read')
                            a.mark(href='#')
                          // END Notification Item Right Side
                        // START Notification Body
                        // START Notification Item
                        .notification-item.clearfix
                          .heading
                            a.text-danger.pull-left(href='#')
                              i.fa.fa-exclamation-triangle.m-r-10
                              span.bold 98% Server Load
                              span.fs-12.m-l-10 Take Action
                            span.pull-right.time 2 mins ago
                          // START Notification Item Right Side
                          .option
                            a.mark(href='#')
                          // END Notification Item Right Side
                        // END Notification Item
                        // START Notification Item
                        .notification-item.clearfix
                          .heading
                            a.text-warning-dark.pull-left(href='#')
                              i.fa.fa-exclamation-triangle.m-r-10
                              span.bold Warning Notification
                              span.fs-12.m-l-10 Buy Now
                            span.pull-right.time yesterday
                          // START Notification Item Right Side
                          .option
                            a.mark(href='#')
                          // END Notification Item Right Side
                        // END Notification Item
                        // START Notification Item
                        .notification-item.unread.clearfix
                          .heading
                            .thumbnail-wrapper.d24.circular.b-white.m-r-5.b-a.b-white.m-t-10.m-r-10
                              img(width='30', height='30', data-src-retina='assets/img/profiles/1x.jpg', data-src='assets/img/profiles/1.jpg', alt='', src='assets/img/profiles/1.jpg')
                            a.text-complete.pull-left(href='#')
                              span.bold Revox Design Labs
                              span.fs-12.m-l-10 Owners
                            span.pull-right.time 11:00pm
                          // START Notification Item Right Side
                          .option(data-toggle='tooltip', data-placement='left', title='mark as read')
                            a.mark(href='#')
                          // END Notification Item Right Side
                        // END Notification Item
                      // END Notification Body
                      // START Notification Footer
                      .notification-footer.text-center
                        a(href='#') Read all notifications
                        a.portlet-refresh.text-black.pull-right(data-toggle='refresh', href='#')
                          i.pg-refresh_new
                      // START Notification Footer
                    // END Notification
                  // END Notification Dropdown
            // END NOTIFICATIONS LIST
        .pull-right
          // START User Info
          .visible-lg.visible-md.m-t-10
            .pull-left.p-r-10.p-t-10.fs-16.font-heading
              span.semi-bold David
              span.text-master Nest
            .dropdown.pull-right
              button.profile-dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                span.thumbnail-wrapper.d32.circular.inline.m-t-5
                  img(src='assets/img/profiles/avatar.jpg', alt='', data-src='assets/img/profiles/avatar.jpg', data-src-retina='assets/img/profiles/avatar_small2x.jpg', width='32', height='32')
              ul.dropdown-menu.profile-dropdown(role='menu')
                li
                  a(href='#')
                    i.pg-settings_small
                    |  Settings
                li
                  a(href='#')
                    i.pg-outdent
                    |  Feedback
                li
                  a(href='#')
                    i.pg-signals
                    |  Help
                li.bg-master-lighter
                  a.clearfix(href='#')
                    span.pull-left Logout
                    span.pull-right
                      i.pg-power
          // END User Info
      // END HEADER
      // START PAGE CONTENT WRAPPER
      .page-content-wrapper
        // START PAGE CONTENT
        .content.sm-gutter
          // START CONTAINER FLUID
          .container-fluid.padding-25.sm-padding-10
            // START ROW
            .row
              .col-md-6.col-xlg-5
                .row
                  .col-md-12.m-b-10
                    .ar-3-2.widget-1-wrapper
                      // START WIDGET widget_imageWidget
                      .widget-1.panel.no-border.bg-complete.no-margin.widget-loader-circle-lg
                        .panel-heading.top-right
                          .panel-controls
                            ul
                              li
                                a.portlet-refresh.text-black(data-toggle='refresh', href='#')
                                  i.portlet-icon.portlet-icon-refresh-lg-master
                        .panel-body
                          .pull-bottom.bottom-left.bottom-right
                            span.label.font-montserrat.fs-11 NEWS
                            br
                            h2.text-white Click anywhere to get Quick Search
                            p.text-white.hint-text Learn More at Project Pages
                            .row.stock-rates.m-t-15
                              .company.col-xs-4
                                div
                                  p.font-montserrat.text-success.no-margin.fs-16
                                    i.fa.fa-caret-up
                                    |  +0.95%
                                    span.font-arial.text-white.fs-12.hint-text.m-l-5 546.45
                                  p.bold.text-white.no-margin.fs-11.font-montserrat.lh-normal
                                    | AAPL
                              .company.col-xs-4
                                div
                                  p.font-montserrat.text-danger.no-margin.fs-16
                                    i.fa.fa-caret-up
                                    |  -0.34%
                                    span.font-arial.text-white.fs-12.hint-text.m-l-5 345.34
                                  p.bold.text-white.no-margin.fs-11.font-montserrat.lh-normal
                                    | YAHW
                              .company.col-xs-4
                                .pull-right
                                  p.font-montserrat.text-success.no-margin.fs-16
                                    i.fa.fa-caret-up
                                    |  +0.95%
                                    span.font-arial.text-white.fs-12.hint-text.m-l-5 278.87
                                  p.bold.text-white.no-margin.fs-11.font-montserrat.lh-normal
                                    | PAGES
                      // END WIDGET
                .row
                  .col-sm-6.m-b-10
                    .ar-2-1
                      // START WIDGET widget_graphTile
                      .widget-4.panel.no-border.no-margin.widget-loader-bar
                        .container-sm-height.full-height
                          .row-sm-height
                            .col-sm-height.col-top
                              .panel-heading
                                .panel-title.text-black.hint-text
                                  span.font-montserrat.fs-11.all-caps
                                    | Product revenue 
                                    i.fa.fa-chevron-right
                                .panel-controls
                                  ul
                                    li
                                      a.portlet-refresh.text-black(href='#', data-toggle='refresh')
                                        i.portlet-icon.portlet-icon-refresh
                          .row-sm-height
                            .col-sm-height.col-top
                              .p-l-20.p-r-20
                                h5.no-margin.p-b-5.pull-left.hint-text Pages
                                p.pull-right.no-margin.bold.hint-text 2,563
                                .clearfix
                          .row-sm-height
                            .col-sm-height.col-bottom
                              .widget-4-chart.line-chart(data-line-color='success', data-area-color='success-light', data-y-grid='false', data-points='false', data-stroke-width='2')
                                svg
                      // END WIDGET
                  .col-sm-6.m-b-10
                    .ar-2-1
                      // START WIDGET widget_barTile
                      .widget-5.panel.no-border.widget-loader-bar
                        .panel-heading.pull-top.top-right
                          .panel-controls
                            ul
                              li
                                a.portlet-refresh.text-black(data-toggle='refresh', href='#')
                                  i.portlet-icon.portlet-icon-refresh
                        .container-xs-height.full-height
                          .row.row-xs-height
                            .col-xs-5.col-xs-height.col-middle.relative
                              .padding-15.top-left.bottom-left
                                h5.hint-text.no-margin.p-l-10 France, Florence
                                p.bold.font-montserrat.p-l-10
                                  | 2,345,789
                                  br
                                  | USD
                                p.hint-text.visible-xlg.p-l-10 Today's sales
                            .col-xs-7.col-xs-height.col-bottom.relative.widget-5-chart-container
                              .widget-5-chart
                      // END WIDGET
              .col-md-6.col-xlg-4
                .row
                  .col-sm-6.m-b-10
                    .ar-1-1
                      // START WIDGET widget_imageWidgetBasic
                      .widget-2.panel.no-border.bg-primary.widget.widget-loader-circle-lg.no-margin
                        .panel-heading
                          .panel-controls
                            ul
                              li
                                a.portlet-refresh(href='#', data-toggle='refresh')
                                  i.portlet-icon.portlet-icon-refresh-lg-white
                        .panel-body
                          .pull-bottom.bottom-left.bottom-right.padding-25
                            span.label.font-montserrat.fs-11 NEWS
                            br
                            h3.text-white So much more to see at a glance.
                            p.text-white.hint-text.hidden-md Learn More at Project Pages
                      // END WIDGET
                  .col-sm-6.m-b-10
                    .ar-1-1
                      // START WIDGET widget_plainLiveWidget
                      .widget-3.panel.no-border.bg-complete.no-margin.widget-loader-bar
                        .panel-body.no-padding
                          .metro.live-tile(data-mode='carousel', data-start-now='true', data-delay='3000')
                            .slide-front.tiles.slide.active
                              .padding-30
                                .pull-top
                                  .pull-left.visible-lg.visible-xlg
                                    i.pg-map
                                  .pull-right
                                    ul.list-inline
                                      li
                                        a.no-decoration(href='#')
                                          i.pg-comment
                                      li
                                        a.widget-3-fav.no-decoration(href='#')
                                          i.pg-like
                                  .clearfix
                                .pull-bottom.p-b-30
                                  p.p-t-10.fs-12.p-b-5.hint-text 21 Jan
                                  h3.no-margin.text-white.p-b-10
                                    | Carefully
                                    br
                                    | designed for a
                                    br
                                    | great
                                    span.semi-bold experience
                            .slide-back.tiles
                              .padding-30
                                .pull-top
                                  .pull-left.visible-lg.visible-xlg
                                    i.pg-map
                                  .pull-right
                                    ul.list-inline
                                      li
                                        a.no-decoration(href='#')
                                          i.pg-comment
                                      li
                                        a.widget-3-fav.no-decoration(href='#')
                                          i.pg-like
                                  .clearfix
                                .pull-bottom.p-b-30
                                  p.p-t-10.fs-12.p-b-5.hint-text 21 Jan
                                  h3.no-margin.text-white.p-b-10
                                    | A whole new
                                    br
                                    span.semi-bold page
                      // END WIDGET
                .row
                  .col-sm-6.m-b-10
                    .ar-1-1
                      // START WIDGET widget_plainWidget
                      .panel.no-border.bg-master.widget.widget-6.widget-loader-circle-lg.no-margin
                        .panel-heading
                          .panel-controls
                            ul
                              li
                                a.portlet-refresh(data-toggle='refresh', href='#')
                                  i.portlet-icon.portlet-icon-refresh-lg-white
                        .panel-body
                          .pull-bottom.bottom-left.bottom-right.padding-25
                            h1.text-white.semi-bold 30°
                            span.label.font-montserrat.fs-11 TODAY
                            p.text-white.m-t-20 Feels like rainy
                            p.text-white.hint-text.m-t-30 November 2014, 5 Thusday 
                      // END WIDGET
                  .col-sm-6.m-b-10
                    .ar-1-1
                      // START WIDGET D3 widget_graphLiveWidget
                      .widget-7.panel.no-border.bg-success.no-margin
                        .panel-body.no-padding
                          .metro.live-tile(data-delay='3500', data-mode='carousel')
                            .slide-front.tiles.slide.active
                              .padding-30
                                .pull-bottom.p-b-30.bottom-right.bottom-left.p-l-30.p-r-30
                                  h5.no-margin.semi-bold.p-b-5 Apple Inc.
                                  p.no-margin.text-black.hint-text NASDAQ : AAPL - NOV 01 8:40 AM ET
                                  h3.semi-bold.text-white
                                    i.fa.fa-sort-up.small.text-white
                                    |  0.15 (0.13%)
                                  p
                                    span.text-black Open
                                    span.m-l-20.hint-text 117.52
                            .slide-back.tiles
                              .container-sm-height.full-height
                                .row-sm-height
                                  .col-sm-height.padding-25
                                    p.hint-text.text-black
                                      | Pre-market: 116.850.50 (0.43%)
                                    p.p-t-10.text-black AAPL - Apple inc.
                                    .p-t-10
                                      p.hint-text.inline
                                        | +0.42% 
                                        span.m-l-20 217.51
                                      .inline
                                        i.fa.fa-sort-up.small.text-white.fs-16.col-bottom
                                    p.p-t-10.text-black GOOG - Google inc.
                                    .p-t-10
                                      p.hint-text.inline
                                        | +0.22% 
                                        span.m-l-20 -2.28
                                      .inline
                                        i.fa.fa-sort-down.small.text-white.fs-16.col-top
                                .row-sm-height
                                  .col-sm-height.relative
                                    .widget-7-chart.line-chart(data-line-color='white', data-points='true', data-point-color='white', data-stroke-width='3')
                                      svg
                      // END WIDGET
              // Filler
              .visible-xlg.col-xlg-3
                .ar-2-3
                  // START WIDGET widget_tableWidget
                  .widget-11.panel.no-border.no-margin.widget-loader-bar
                    .panel-heading
                      .panel-title
                        | Today's Table
                      .panel-controls
                        ul
                          li
                            a.portlet-refresh.text-black(data-toggle='refresh', href='#')
                              i.portlet-icon.portlet-icon-refresh
                    .p-l-25.p-r-25.p-b-20
                      .pull-left
                        h2.text-success.no-margin webarch
                      h3.pull-right.semi-bold
                        sup
                          small.semi-bold $
                        |  102,967
                      .clearfix
                    .widget-11-table.auto-overflow
                      table.table.table-condensed.table-hover
                        tbody
                          tr
                            td.font-montserrat.all-caps.fs-12 Purchase CODE #2345
                            td.text-right
                              span.hint-text.small dewdrops
                            td.text-right.b-r.b-dashed.b-grey
                              span.hint-text.small Qty 1
                            td
                              span.font-montserrat.fs-18 $27
                          tr
                            td.font-montserrat.all-caps.fs-12 Purchase CODE #2345
                            td.text-right
                              span.hint-text.small johnsmith
                            td.text-right.b-r.b-dashed.b-grey
                              span.hint-text.small Qty 1
                            td
                              span.font-montserrat.fs-18.text-primary $1000
                          tr
                            td.font-montserrat.all-caps.fs-12 Purchase CODE #2345
                            td.text-right
                              span.hint-text.small janedrooler
                            td.text-right.b-r.b-dashed.b-grey
                              span.hint-text.small Qty 1
                            td
                              span.font-montserrat.fs-18 $27
                          tr
                            td.font-montserrat.all-caps.fs-12 Purchase CODE #2345
                            td.text-right
                              span.hint-text.small johnsmith
                            td.text-right.b-r.b-dashed.b-grey
                              span.hint-text.small Qty 1
                            td
                              span.font-montserrat.fs-18.text-primary $1000
                          tr
                            td.font-montserrat.all-caps.fs-12 Purchase CODE #2345
                            td.text-right
                              span.hint-text.small dewdrops
                            td.text-right.b-r.b-dashed.b-grey
                              span.hint-text.small Qty 1
                            td
                              span.font-montserrat.fs-18 $27
                          tr
                            td.font-montserrat.all-caps.fs-12 Purchase CODE #2345
                            td.text-right
                              span.hint-text.small johnsmith
                            td.text-right.b-r.b-dashed.b-grey
                              span.hint-text.small Qty 1
                            td
                              span.font-montserrat.fs-18.text-primary $1000
                          tr
                            td.font-montserrat.all-caps.fs-12 Purchase CODE #2345
                            td.text-right
                              span.hint-text.small dewdrops
                            td.text-right.b-r.b-dashed.b-grey
                              span.hint-text.small Qty 1
                            td
                              span.font-montserrat.fs-18 $27
                          tr
                            td.font-montserrat.all-caps.fs-12 Purchase CODE #2345
                            td.text-right
                              span.hint-text.small johnsmith
                            td.text-right.b-r.b-dashed.b-grey
                              span.hint-text.small Qty 1
                            td
                              span.font-montserrat.fs-18.text-primary $1000
                          tr
                            td.font-montserrat.all-caps.fs-12 Purchase CODE #2345
                            td.text-right
                              span.hint-text.small dewdrops
                            td.text-right.b-r.b-dashed.b-grey
                              span.hint-text.small Qty 1
                            td
                              span.font-montserrat.fs-18 $27
                          tr
                            td.font-montserrat.all-caps.fs-12 Purchase CODE #2345
                            td.text-right
                              span.hint-text.small johnsmith
                            td.text-right.b-r.b-dashed.b-grey
                              span.hint-text.small Qty 1
                            td
                              span.font-montserrat.fs-18.text-primary $1000
                    .padding-25
                      p.small.no-margin
                        a(href='#')
                          i.fa.fs-16.fa-arrow-circle-o-down.text-success.m-r-10
                        span.hint-text Show more details of APPLE . INC
                  // END WIDGET
            // END ROW
            .row
              .col-md-4.col-lg-3.col-xlg-2
                .row
                  .col-md-12.m-b-10
                    // START WIDGET D3 widget_graphTileFlat
                    .widget-8.panel.no-border.bg-success.no-margin.widget-loader-bar
                      .container-xs-height.full-height
                        .row-xs-height
                          .col-xs-height.col-top
                            .panel-heading.top-left.top-right
                              .panel-title.text-black.hint-text
                                span.font-montserrat.fs-11.all-caps
                                  | Weekly Sales 
                                  i.fa.fa-chevron-right
                              .panel-controls
                                ul
                                  li
                                    a.portlet-refresh.text-black(data-toggle='refresh', href='#')
                                      i.portlet-icon.portlet-icon-refresh
                        .row-xs-height
                          .col-xs-height.col-top.relative
                            .row
                              .col-sm-6
                                .p-l-20
                                  h3.no-margin.p-b-5.text-white $14,000
                                  p.small.hint-text.m-t-5
                                    span.label.font-montserrat.m-r-5 60%
                                    | Higher
                              .col-sm-6
                            .widget-8-chart.line-chart(data-line-color='black', data-points='true', data-point-color='success', data-stroke-width='2')
                              svg
                    // END WIDGET
                .row
                  .col-md-12.m-b-10
                    // START WIDGET widget_progressTileFlat
                    .widget-9.panel.no-border.bg-primary.no-margin.widget-loader-bar
                      .container-xs-height.full-height
                        .row-xs-height
                          .col-xs-height.col-top
                            .panel-heading.top-left.top-right
                              .panel-title.text-black
                                span.font-montserrat.fs-11.all-caps
                                  | Weekly Sales 
                                  i.fa.fa-chevron-right
                              .panel-controls
                                ul
                                  li
                                    a.portlet-refresh.text-black(href='#', data-toggle='refresh')
                                      i.portlet-icon.portlet-icon-refresh
                        .row-xs-height
                          .col-xs-height.col-top
                            .p-l-20.p-t-15
                              h3.no-margin.p-b-5.text-white $23,000
                              a.btn-circle-arrow.text-white(href='#')
                                i.pg-arrow_minimize
                              span.small.hint-text 65% lower than last month
                        .row-xs-height
                          .col-xs-height.col-bottom
                            .progress.progress-small.m-b-20
                              // START BOOTSTRAP PROGRESS (http://getbootstrap.com/components/#progress)
                              .progress-bar.progress-bar-white(style='width:45%')
                              // END BOOTSTRAP PROGRESS
                    // END WIDGET
                .row
                  .col-md-12
                    // START WIDGET widget_statTile
                    .widget-10.panel.no-border.bg-white.no-margin.widget-loader-bar
                      .panel-heading.top-left.top-right
                        .panel-title.text-black.hint-text
                          span.font-montserrat.fs-11.all-caps
                            | Weekly Sales 
                            i.fa.fa-chevron-right
                        .panel-controls
                          ul
                            li
                              a.portlet-refresh.text-black(data-toggle='refresh', href='#')
                                i.portlet-icon.portlet-icon-refresh
                      .panel-body.p-t-40
                        .row
                          .col-sm-12
                            h4.no-margin.p-b-5.text-danger.semi-bold APPL 2.032
                            .pull-left.small
                              span WMHC
                              span.text-success.font-montserrat
                                i.fa.fa-caret-up.m-l-10
                                |  9%
                            .pull-left.m-l-20.small
                              span HCRS
                              span.text-danger.font-montserrat
                                i.fa.fa-caret-up.m-l-10
                                |  21%
                            .clearfix
                        .p-t-10.full-width
                          a.btn-circle-arrow.b-grey(href='#')
                            i.pg-arrow_minimize.text-danger
                          span.hint-text.small Show more
                    // END WIDGET
              .col-md-8.col-lg-5.col-xlg-6.m-b-10
                .row
                  .col-md-12
                    // START WIDGET D3 widget_graphWidget
                    .widget-12.panel.no-border.widget-loader-circle.no-margin
                      .row
                        .col-xlg-8
                          .panel-heading.pull-up.top-right
                            .panel-controls
                              ul
                                li.hidden-xlg
                                  .dropdown
                                    a(data-target='#', href='#', data-toggle='dropdown', aria-haspopup='true', role='button', aria-expanded='false')
                                      i.portlet-icon.portlet-icon-settings
                                    ul.dropdown-menu.pull-right(role='menu')
                                      li
                                        a(href='#') AAPL
                                      li
                                        a(href='#') YHOO
                                      li
                                        a(href='#') GOOG
                                li
                                  a.portlet-refresh.text-black(data-toggle='refresh', href='#')
                                    i.portlet-icon.portlet-icon-refresh
                      .panel-body
                        .row
                          .col-xlg-8
                            .p-l-10
                              h2.pull-left Apple Inc.
                              h2.pull-left.m-l-50.text-danger
                                span.bold 448.97
                                span.text-danger.fs-12 -318.24
                              .clearfix
                              .full-width
                                ul.list-inline
                                  li
                                    a.font-montserrat.text-master(href='#') 1D
                                  li.active
                                    a.font-montserrat.bg-master-light.text-master(href='#') 5D
                                  li
                                    a.font-montserrat.text-master(href='#') 1M
                                  li
                                    a.font-montserrat.text-master(href='#') 1Y
                              .nvd3-line.line-chart.text-center(data-x-grid='false')
                                svg
                          .col-xlg-4.visible-xlg
                            .widget-12-search
                              p.pull-left
                                | Company
                                span.bold List
                              button.btn.btn-default.btn-xs.pull-right
                                span.bold +
                              .clearfix
                              input.form-control.m-t-5(type='text', placeholder='Search list')
                            .company-stat-boxes
                              .company-stat-box.m-t-15.active.padding-20.bg-master-lightest(data-index='0')
                                div
                                  button.close(type='button', data-dismiss='modal')
                                    i.pg-close.fs-12
                                  p.company-name.pull-left.text-uppercase.bold.no-margin
                                    span.fa.fa-circle.text-success.fs-11
                                    |  AAPL
                                  small.hint-text.m-l-10 Yahoo Inc.
                                  .clearfix
                                .m-t-10
                                  p.pull-left.small.hint-text.no-margin.p-t-5 9:42AM ET
                                  .pull-right
                                    p.small.hint-text.no-margin.inline 37.73
                                    span.label.label-important.p-t-5.m-l-5.p-b-5.inline.fs-12 + 0.09
                                  .clearfix
                              .company-stat-box.m-t-15.padding-20.bg-master-lightest(data-index='1')
                                div
                                  button.close(type='button', data-dismiss='modal')
                                    i.pg-close.fs-12
                                  p.company-name.pull-left.text-uppercase.bold.no-margin
                                    span.fa.fa-circle.text-primary.fs-11
                                    |  YHOO
                                  small.hint-text.m-l-10 Yahoo Inc.
                                  .clearfix
                                .m-t-10
                                  p.pull-left.small.hint-text.no-margin.p-t-5 9:42AM ET
                                  .pull-right
                                    p.small.hint-text.no-margin.inline 37.73
                                    span.label.label-success.p-t-5.m-l-5.p-b-5.inline.fs-12 + 0.09
                                  .clearfix
                              .company-stat-box.m-t-15.padding-20.bg-master-lightest(data-index='2')
                                div
                                  button.close(type='button', data-dismiss='modal')
                                    i.pg-close.fs-12
                                  p.company-name.pull-left.text-uppercase.bold.no-margin
                                    span.fa.fa-circle.text-complete.fs-11
                                    |  GOOG
                                  small.hint-text.m-l-10 Yahoo Inc.
                                  .clearfix
                                .m-t-10
                                  p.pull-left.small.hint-text.no-margin.p-t-5 9:42AM ET
                                  .pull-right
                                    p.small.hint-text.no-margin.inline 37.73
                                    span.label.label-success.p-t-5.m-l-5.p-b-5.inline.fs-12 + 0.09
                                  .clearfix
                    // END WIDGET
              .col-md-6.col-lg-4.hidden-xlg.m-b-10
                // START WIDGET widget_tableWidgetBasic
                .widget-11-2.panel.no-border.panel-condensed.no-margin.widget-loader-circle
                  .panel-heading.top-right
                    .panel-controls
                      ul
                        li
                          a.portlet-refresh.text-black(data-toggle='refresh', href='#')
                            i.portlet-icon.portlet-icon-refresh
                  .padding-25
                    .pull-left
                      h2.text-success.no-margin webarch
                      p.no-margin Today's sales
                    h3.pull-right.semi-bold
                      sup
                        small.semi-bold $
                      |  102,967
                    .clearfix
                  .auto-overflow.widget-11-2-table
                    table.table.table-condensed.table-hover
                      tbody
                        tr
                          td.font-montserrat.all-caps.fs-12.col-lg-6 Purchase CODE #2345
                          td.text-right.hidden-lg
                            span.hint-text.small dewdrops
                          td.text-right.b-r.b-dashed.b-grey.col-lg-3
                            span.hint-text.small Qty 1
                          td.col-lg-3
                            span.font-montserrat.fs-18 $27
                        tr
                          td.font-montserrat.all-caps.fs-12.col-lg-6 Purchase CODE #2345
                          td.text-right.hidden-lg
                            span.hint-text.small dewdrops
                          td.text-right.b-r.b-dashed.b-grey.col-lg-3
                            span.hint-text.small Qty 1
                          td.col-lg-3
                            span.font-montserrat.fs-18 $27
                        tr
                          td.font-montserrat.all-caps.fs-12.col-lg-6 Purchase CODE #2345
                          td.text-right.hidden-lg
                            span.hint-text.small dewdrops
                          td.text-right.b-r.b-dashed.b-grey.col-lg-3
                            span.hint-text.small Qty 1
                          td.col-lg-3
                            span.font-montserrat.fs-18 $27
                        tr
                          td.font-montserrat.all-caps.fs-12.col-lg-6 Purchase CODE #2345
                          td.text-right.hidden-lg
                            span.hint-text.small dewdrops
                          td.text-right.b-r.b-dashed.b-grey.col-lg-3
                            span.hint-text.small Qty 1
                          td.col-lg-3
                            span.font-montserrat.fs-18 $27
                        tr
                          td.font-montserrat.all-caps.fs-12.col-lg-6 Purchase CODE #2345
                          td.text-right.hidden-lg
                            span.hint-text.small dewdrops
                          td.text-right.b-r.b-dashed.b-grey.col-lg-3
                            span.hint-text.small Qty 1
                          td.col-lg-3
                            span.font-montserrat.fs-18 $27
                        tr
                          td.font-montserrat.all-caps.fs-12.col-lg-6 Purchase CODE #2345
                          td.text-right.hidden-lg
                            span.hint-text.small dewdrops
                          td.text-right.b-r.b-dashed.b-grey.col-lg-3
                            span.hint-text.small Qty 1
                          td.col-lg-3
                            span.font-montserrat.fs-18 $27
                        tr
                          td.font-montserrat.all-caps.fs-12.col-lg-6 Purchase CODE #2345
                          td.text-right.hidden-lg
                            span.hint-text.small dewdrops
                          td.text-right.b-r.b-dashed.b-grey.col-lg-3
                            span.hint-text.small Qty 1
                          td.col-lg-3
                            span.font-montserrat.fs-18 $27
                        tr
                          td.font-montserrat.all-caps.fs-12.col-lg-6 Purchase CODE #2345
                          td.text-right.hidden-lg
                            span.hint-text.small dewdrops
                          td.text-right.b-r.b-dashed.b-grey.col-lg-3
                            span.hint-text.small Qty 1
                          td.col-lg-3
                            span.font-montserrat.fs-18 $27
                        tr
                          td.font-montserrat.all-caps.fs-12.col-lg-6 Purchase CODE #2345
                          td.text-right.hidden-lg
                            span.hint-text.small dewdrops
                          td.text-right.b-r.b-dashed.b-grey.col-lg-3
                            span.hint-text.small Qty 1
                          td.col-lg-3
                            span.font-montserrat.fs-18 $27
                        tr
                          td.font-montserrat.all-caps.fs-12.col-lg-6 Purchase CODE #2345
                          td.text-right.hidden-lg
                            span.hint-text.small dewdrops
                          td.text-right.b-r.b-dashed.b-grey.col-lg-3
                            span.hint-text.small Qty 1
                          td.col-lg-3
                            span.font-montserrat.fs-18 $27
                  .padding-25
                    p.small.no-margin
                      a(href='#')
                        i.fa.fs-16.fa-arrow-circle-o-down.text-success.m-r-10
                      span.hint-text Show more details of APPLE . INC
                // END WIDGET
              .col-md-6.hidden-lg.visible-md.visible-xlg.col-xlg-4.m-b-10
                // START WIDGET D3 widget_stackedBarWidget
                .widget-15.panel.panel-condensed.no-margin.no-border.widget-loader-circle
                  .panel-heading
                    .panel-controls
                      ul
                        li
                          a.portlet-collapse(href='#', data-toggle='collapse')
                            i.portlet-icon.portlet-icon-collapse
                        li
                          a.portlet-refresh.text-black(href='#', data-toggle='refresh')
                            i.portlet-icon.portlet-icon-refresh
                  .panel-body.no-padding
                    ul.nav.nav-tabs.nav-tabs-simple
                      li.active
                        a.p-t-5(href='#widget-15-tab-1')
                          | APPL
                          br
                          | 						22.23
                          br
                          span.text-success +60.223%
                      li
                        a.p-t-5(href='#widget-15-tab-2')
                          | FB
                          br
                          | 					45.97
                          br
                          span.text-danger -06.56%
                      li
                        a.p-t-5(href='#widget-15-tab-3')
                          | GOOG
                          br
                          | 					22.23
                          br
                          span.text-success +60.223%
                    .tab-content.p-l-20.p-r-20
                      #widget-15-tab-1.tab-pane.no-padding.active
                        .full-width
                          .full-width
                            .widget-15-chart.rickshaw-chart
                      #widget-15-tab-2.tab-pane.no-padding
                      #widget-15-tab-3.tab-pane
                    .p-t-20.p-l-20.p-r-20.p-b-30
                      .row
                        .col-md-9
                          p.fs-16.text-black
                            | Apple’s Motivation - Innovation
                            br
                            | distinguishes between A leader and a follower.
                          p.small.hint-text
                            | VIA Apple Store (Consumer and Education Individuals)
                            br
                            | (800) MY-APPLE (800-692-7753)
                        .col-md-3.text-right
                          p.font-montserrat.bold.text-success.m-r-20.fs-16 +0.94
                          p.font-montserrat.bold.text-danger.m-r-20.fs-16 -0.63
                // END WIDGET
            .row
              .col-md-8.m-b-10
                // START WIDGET widget_mapWidget
                .widget-13.panel.no-border.no-margin.widget-loader-circle
                  .panel-heading.pull-up.top-right
                    .panel-controls
                      ul
                        li
                          a.portlet-refresh.text-black(href='#', data-toggle='refresh')
                            i.portlet-icon.portlet-icon-refresh
                  .container-sm-height.no-overflow
                    .row.row-sm-height
                      .col-sm-5.col-lg-4.col-xlg-3.col-sm-height.col-top.no-padding
                        .panel-heading
                          .panel-title
                            | Menu clipping
                        .panel-body
                          ul.nav.nav-pills(role='tablist')
                            li.active
                              a.b-a.b-grey.text-master(href='#tab1', data-toggle='tab', role='tab')
                                | fb
                            li
                              a.b-a.b-grey.text-master(href='#tab2', data-toggle='tab', role='tab')
                                | js
                            li
                              a.b-a.b-grey.text-master(href='#tab3', data-toggle='tab', role='tab')
                                | sa
                          .tab-content
                            #tab1.tab-pane.active
                              h3 Facebook
                              p.hint-text.all-caps.font-montserrat.small.no-margin Views
                              p.all-caps.font-montserrat.no-margin.text-success 14,256
                              br
                              p.hint-text.all-caps.font-montserrat.small.no-margin Today
                              p.all-caps.font-montserrat.no-margin.text-warning 24
                              br
                              p.hint-text.all-caps.font-montserrat.small.no-margin Week
                              p.all-caps.font-montserrat.no-margin.text-success 56
                            #tab2.tab-pane
                              h3 Google
                              p.hint-text.all-caps.font-montserrat.small.no-margin Views
                              p.all-caps.font-montserrat.no-margin.text-success 14,256
                              br
                              p.hint-text.all-caps.font-montserrat.small.no-margin Today
                              p.all-caps.font-montserrat.no-margin.text-warning 24
                              br
                              p.hint-text.all-caps.font-montserrat.small.no-margin Week
                              p.all-caps.font-montserrat.no-margin.text-success 56
                            #tab3.tab-pane
                              h3 Amazon
                              p.hint-text.all-caps.font-montserrat.small.no-margin Views
                              p.all-caps.font-montserrat.no-margin.text-success 14,256
                              br
                              p.hint-text.all-caps.font-montserrat.small.no-margin Today
                              p.all-caps.font-montserrat.no-margin.text-warning 24
                              br
                              p.hint-text.all-caps.font-montserrat.small.no-margin Week
                              p.all-caps.font-montserrat.no-margin.text-success 56
                        .bg-master-light.p-l-20.p-r-20.p-t-10.p-b-10.pull-bottom.full-width.hidden-xs
                          p.no-margin
                            a(href='#')
                              i.fa.fa-arrow-circle-o-down.text-success
                            span.hint-text Super secret options
                      .col-sm-7.col-lg-8.col-xlg-9.col-sm-height.col-top.no-padding.relative
                        .bg-success.widget-13-map
                // END WIDGET
              .col-md-4.m-b-10
                // START WIDGET widget_realtimeWidget
                .widget-14.panel.no-border.no-margin.widget-loader-circle
                  .container-xs-height.full-height
                    .row-xs-height
                      .col-xs-height
                        .panel-heading
                          .panel-title
                            | Server load
                          .panel-controls
                            ul
                              li
                                a.portlet-refresh.text-black(href='#', data-toggle='refresh')
                                  i.portlet-icon.portlet-icon-refresh
                    .row-xs-height
                      .col-xs-height
                        .p-l-20.p-r-20
                          p Server: www.revox.io
                          .row
                            .col-lg-3.col-md-12
                              h4.bold.no-margin 5.2GB
                              p.small.no-margin Total usage
                            .col-lg-3.col-md-6
                              h5.no-margin.p-t-5 227.34KB
                              p.small.no-margin Currently
                            .col-lg-3.col-md-6
                              h5.no-margin.p-t-5 117.65MB
                              p.small.no-margin Average
                            .col-lg-3.visible-xlg
                              .widget-14-chart-legend.bg-transparent.text-black.no-padding.pull-right
                              .clearfix
                    .row-xs-height
                      .col-xs-height.relative.bg-master-lightest
                        .widget-14-chart_y_axis
                        .widget-14-chart.rickshaw-chart.top-left.top-right.bottom-left.bottom-right
                // END WIDGET
            .row
              .col-lg-4.visible-lg.hidden-xlg
                // START WIDGET D3 widget_stackedBarWidgetBasic
                .widget-15-2.panel.no-margin.no-border.widget-loader-circle
                  .panel-heading.top-right
                    .panel-controls
                      ul
                        li
                          a.portlet-refresh.text-black(href='#', data-toggle='refresh')
                            i.portlet-icon.portlet-icon-refresh
                  ul.nav.nav-tabs.nav-tabs-simple
                    li.active
                      a(href='#widget-15-2-tab-1')
                        | APPL
                        br
                        | 					22.23
                        br
                        span.text-success +60.223%
                    li
                      a(href='#widget-15-2-tab-2')
                        | FB
                        br
                        | 				45.97
                        br
                        span.text-danger -06.56%
                    li
                      a(href='#widget-15-2-tab-3')
                        | GOOG
                        br
                        | 				22.23
                        br
                        span.text-success +60.223%
                  .tab-content
                    #widget-15-2-tab-1.tab-pane.no-padding.active
                      .full-width
                        .widget-15-chart2.rickshaw-chart.full-height
                    #widget-15-2-tab-2.tab-pane.no-padding
                    #widget-15-2-tab-3.tab-pane
                  .p-t-10.p-l-20.p-r-20.p-b-30
                    .row
                      .col-md-9
                        p.fs-16.text-black
                          | Apple’s Motivation - Innovation distinguishes between A leader and a follower.
                        p.small.hint-text
                          | VIA Apple Store (Consumer and Education Individuals)
                          br
                          | (800) MY-APPLE (800-692-7753)
                      .col-md-3.text-right
                        h5.font-montserrat.bold.text-success +0.94
                        h5.font-montserrat.bold.text-danger -0.63
                // END WIDGET
              .col-md-4.col-lg-3.col-xlg-3.m-b-10
                // START WIDGET D3 widget_graphOptionsWidget
                .widget-16.panel.no-border.no-margin.widget-loader-circle
                  .panel-heading
                    .panel-title
                      | Page Options
                    .panel-controls
                      ul
                        li
                          a.portlet-refresh.text-black(href='#', data-toggle='refresh')
                            i.portlet-icon.portlet-icon-refresh
                  .widget-16-header.padding-20
                    span.icon-thumbnail.bg-master-light.pull-left.text-master ws
                    .pull-left
                      p.hint-text.all-caps.font-montserrat.small.no-margin.overflow-ellipsis
                        | Pages name
                      h5.no-margin.overflow-ellipsis Webarch Sales Analysis
                    .clearfix
                  .p-l-25.p-r-45.p-t-25.p-b-25
                    .row
                      .col-md-4
                        p.hint-text.all-caps.font-montserrat.small.no-margin Views
                        p.all-caps.font-montserrat.no-margin.text-success 14,256
                      .col-md-4.text-center
                        p.hint-text.all-caps.font-montserrat.small.no-margin Today
                        p.all-caps.font-montserrat.no-margin.text-warning 24
                      .col-md-4.text-right
                        p.hint-text.all-caps.font-montserrat.small.no-margin Week
                        p.all-caps.font-montserrat.no-margin.text-success 56
                  .relative.no-overflow
                    .widget-16-chart.line-chart(data-line-color='success', data-points='true', data-point-color='white', data-stroke-width='2')
                      svg
                  .b-b.b-t.b-grey.p-l-20.p-r-20.p-b-10.p-t-10
                    p.pull-left Post is Public
                    .pull-right
                      input(type='checkbox', data-init-plugin='switchery')
                    .clearfix
                  .b-b.b-grey.p-l-20.p-r-20.p-b-10.p-t-10
                    p.pull-left Maintenance mode
                    .pull-right
                      input(type='checkbox', data-init-plugin='switchery', checked='checked')
                    .clearfix
                  .p-l-20.p-r-20.p-t-10.p-b-10
                    p.pull-left.no-margin.hint-text Super secret options
                    a.pull-right(href='#')
                      i.fa.fa-arrow-circle-o-down.text-success.fs-16
                    .clearfix
                // END WIDGET
              .col-xlg-2.visible-xlg
                // START WIDGET widget_socialImageTile
                .widget-18.panel.no-border.no-margin
                  .padding-15
                    .item-header.clearfix
                      .thumbnail-wrapper.d32.circular
                        img(width='40', height='40', src='assets/img/profiles/3x.jpg', data-src='assets/img/profiles/3.jpg', data-src-retina='assets/img/profiles/3x.jpg', alt='')
                      .inline.m-l-10
                        p.no-margin
                          strong Anne Simons
                        p.no-margin.hint-text
                          | Shared a link
                          span.location.semi-bold
                            i.fa.fa-map-marker
                            |  NY center
                  .relative
                    ul.buttons.pull-top.top-right.list-inline.p-r-10.p-t-10
                      li
                        a.text-white(href='#')
                          i.fa.fa-expand
                      li
                        a.text-white(href='#')
                          i.fa.fa-heart-o
                    .widget-18-post.bg-black.no-overflow
                  .padding-15
                    .hint-text.pull-left few seconds ago
                    ul.list-inline.pull-right.no-margin
                      li
                        a.text-master.hint-text(href='#')
                          | 5,345 
                          i.fa.fa-comment-o
                      li
                        a.text-master.hint-text(href='#')
                          | 23K 
                          i.fa.fa-heart-o
                    .clearfix
                // END WIDGET
              .col-xlg-2.visible-xlg
                .row
                  .col-xlg-12
                    // START WIDGET widget_socialPostTile
                    .panel.no-border.no-margin
                      .padding-15
                        .item-header.clearfix
                          .thumbnail-wrapper.d32.circular
                            img(width='40', height='40', src='assets/img/profiles/3x.jpg', data-src='assets/img/profiles/3.jpg', data-src-retina='assets/img/profiles/3x.jpg', alt='')
                          .inline.m-l-10
                            p.no-margin
                              strong Anne Simons
                            p.no-margin.hint-text
                              | Shared a link
                              span.location.semi-bold
                                i.fa.fa-map-marker
                                |  NY center
                      hr.no-margin
                      .padding-15
                        p Inspired by : good design is obvious, great design is transparent
                        .hint-text via themeforest
                      .relative
                        ul.buttons.pull-top.top-right.list-inline.p-r-10.p-t-10
                          li
                            a.text-white(href='#')
                              i.fa.fa-expand
                          li
                            a.text-white(href='#')
                              i.fa.fa-heart-o
                        .widget-19-post.no-overflow
                          img.block.center-margin.relative(src='assets/img/social-post-image.png', alt='Post')
                      .padding-15
                        .hint-text.pull-left few seconds ago
                        ul.list-inline.pull-right.no-margin
                          li
                            a.text-master.hint-text(href='#')
                              | 5,345 
                              i.fa.fa-comment-o
                          li
                            a.text-master.hint-text(href='#')
                              | 23K 
                              i.fa.fa-heart-o
                        .clearfix
                    // END WIDGET
              .col-md-8.col-lg-5.col-xlg-5
                // START WIDGET widget_weatherWidget
                .widget-17.panel.no-border.no-margin.widget-loader-circle
                  .panel-heading
                    .panel-title
                      i.pg-map
                      |  California, USA
                      span.caret
                    .panel-controls
                      ul
                        li
                          .dropdown
                            a(data-target='#', href='#', data-toggle='dropdown', aria-haspopup='true', role='button', aria-expanded='false')
                              i.portlet-icon.portlet-icon-settings
                            ul.dropdown-menu.pull-right(role='menu')
                              li
                                a(href='#') AAPL
                              li
                                a(href='#') YHOO
                              li
                                a(href='#') GOOG
                        li
                          a.portlet-refresh.text-black(data-toggle='refresh', href='#')
                            i.portlet-icon.portlet-icon-refresh
                  .panel-body
                    .p-l-5
                      .row
                        .col-md-12.col-xlg-6
                          .row.m-t-20
                            .col-md-5
                              h4.no-margin Monday
                              p.small.hint-text 9th August 2014
                            .col-md-7
                              .pull-left
                                p.small.hint-text.no-margin Currently
                                h4.text-danger.bold.no-margin
                                  | 32°
                                  span.small / 30C
                              .pull-right
                                canvas.clear-day(height='64', width='64')
                          h5
                            | Feels like
                            span.semi-bold rainy
                          p Weather information
                          .widget-17-weather
                            .row
                              .col-xs-6.p-r-10
                                .row
                                  .col-md-12
                                    p.pull-left Wind
                                    p.pull-right.bold 11km/h
                                .row
                                  .col-md-12
                                    p.pull-left Sunrise
                                    p.pull-right.bold 05:20
                                .row
                                  .col-md-12
                                    p.pull-left Humidity
                                    p.pull-right.bold 20%
                                .row
                                  .col-md-12
                                    p.pull-left Precipitation
                                    p.pull-right.bold 60%
                              .col-xs-6.p-l-10
                                .row
                                  .col-md-12
                                    p.pull-left Sunset
                                    p.pull-right.bold 21:05
                                .row
                                  .col-md-12
                                    p.pull-left Visibility
                                    p.pull-right.bold 21km
                          .row.m-t-10.timeslot
                            .col-xs-2.p-t-10.text-center
                              p.small 13:30
                              canvas.partly-cloudy-day(height='25', width='25')
                              p.text-danger.bold 30°C
                            .col-xs-2.p-t-10.text-center
                              p.small 14:00
                              canvas.cloudy(height='25', width='25')
                              p.text-danger.bold 30°C
                            .col-xs-2.p-t-10.text-center
                              p.small 14:30
                              canvas.rain(height='25', width='25')
                              p.text-danger.bold 30°C
                            .col-xs-2.p-t-10.text-center
                              p.small 15:00
                              canvas.sleet(height='25', width='25')
                              p.text-danger.bold 30°C
                            .col-xs-2.p-t-10.text-center
                              p.small 15:30
                              canvas.snow(height='25', width='25')
                              p.text-danger.bold 30°C
                            .col-xs-2.p-t-10.text-center
                              p.small 16:00
                              canvas.wind(height='25', width='25')
                              p.text-danger.bold 30°C
                        .col-xlg-6.visible-xlg
                          .row
                            .forecast-day.col-md-6.text-center.m-t-10
                              .bg-master-lighter.p-b-10.p-t-10
                                h4.p-t-10.no-margin Tuesday
                                p.small.hint-text.m-b-20 11th Augest 2014
                                canvas.rain(width='64', height='64')
                                h5.text-danger 32°
                                p
                                  | Feels like
                                  span.bold sunny
                                p.small
                                  | Wind
                                  span.bold.p-l-20 11km/h
                                .m-t-20.block
                                  .padding-10
                                    .row
                                      .col-md-6.text-center
                                        p.small Noon
                                        canvas.sleet(width='25', height='25')
                                        p.text-danger.bold 30°C
                                      .col-md-6.text-center
                                        p.small Night
                                        canvas.wind(width='25', height='25')
                                        p.text-danger.bold 30°C
                            .col-md-6.text-center.m-t-10
                              .bg-master-lighter.p-b-10.p-t-10
                                h4.p-t-10.no-margin Wednesday
                                p.small.hint-text.m-b-20 11th Augest 2014
                                canvas.rain(width='64', height='64')
                                h5.text-danger 32°
                                p
                                  | Feels like
                                  span.bold sunny
                                p.small
                                  | Wind
                                  span.bold.p-l-20 11km/h
                                .m-t-20.block
                                  .padding-10
                                    .row
                                      .col-md-6.text-center
                                        p.small Noon
                                        canvas.sleet(width='25', height='25')
                                        p.text-danger.bold 30°C
                                      .col-md-6.text-center
                                        p.small Night
                                        canvas.wind(width='25', height='25')
                                        p.text-danger.bold 30°C
                // END WIDGET
          // END CONTAINER FLUID
        // END PAGE CONTENT
        // START COPYRIGHT
        // START CONTAINER FLUID
        // START CONTAINER FLUID
        .container-fluid.container-fixed-lg.footer
          .copyright.sm-text-center
            p.small.no-margin.pull-left.sm-pull-reset
              span.hint-text Copyright © 2016 
            .clearfix
        // END COPYRIGHT
      // END PAGE CONTENT WRAPPER
    // END PAGE CONTAINER
    // START QUICKVIEW
    #quickview.quickview-wrapper(data-pages='quickview')
      // Nav tabs
      ul.nav.nav-tabs
        li
          a(href='#quickview-notes', data-toggle='tab') Notes
        li
          a(href='#quickview-alerts', data-toggle='tab') Alerts
        li.active
          a(href='#quickview-chat', data-toggle='tab') Chat
      a.btn-link.quickview-toggle(data-toggle-element='#quickview', data-toggle='quickview')
        i.pg-close
      // Tab panes
      .tab-content
        // BEGIN Notes !
        #quickview-notes.tab-pane.fade.in.no-padding
          #note-views.view-port.clearfix.quickview-notes
            // BEGIN Note List !
            #quick-note-list.view.list
              .toolbar.clearfix
                ul.pull-right
                  li
                    a.delete-note-link(href='#')
                      i.fa.fa-trash-o
                  li
                    a.new-note-link(href='#', data-navigate='view', data-view-port='#note-views', data-view-animation='push')
                      i.fa.fa-plus
                button.btn-remove-notes.btn.btn-xs.btn-block.hide
                  i.fa.fa-times
                  |  Delete
              ul
                // BEGIN Note Item !
                li(data-noteid='1')
                  .left
                    // BEGIN Note Action !
                    .checkbox.check-warning.no-margin
                      input#qncheckbox1(type='checkbox', value='1')
                      label(for='qncheckbox1')
                    // END Note Action !
                    // BEGIN Note Preview Text !
                    p.note-preview
                      | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                    // BEGIN Note Preview Text !
                  // BEGIN Note Details !
                  .right.pull-right
                    // BEGIN Note Date !
                    span.date 12/12/14
                    a(href='#', data-navigate='view', data-view-port='#note-views', data-view-animation='push')
                      i.fa.fa-chevron-right
                    // END Note Date !
                  // END Note Details !
                // END Note List !
                // BEGIN Note Item !
                li(data-noteid='2')
                  .left
                    // BEGIN Note Action !
                    .checkbox.check-warning.no-margin
                      input#qncheckbox2(type='checkbox', value='1')
                      label(for='qncheckbox2')
                    // END Note Action !
                    // BEGIN Note Preview Text !
                    p.note-preview
                      | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                    // BEGIN Note Preview Text !
                  // BEGIN Note Details !
                  .right.pull-right
                    // BEGIN Note Date !
                    span.date 12/12/14
                    a(href='#')
                      i.fa.fa-chevron-right
                    // END Note Date !
                  // END Note Details !
                // END Note List !
                // BEGIN Note Item !
                li(data-noteid='2')
                  .left
                    // BEGIN Note Action !
                    .checkbox.check-warning.no-margin
                      input#qncheckbox3(type='checkbox', value='1')
                      label(for='qncheckbox3')
                    // END Note Action !
                    // BEGIN Note Preview Text !
                    p.note-preview
                      | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                    // BEGIN Note Preview Text !
                  // BEGIN Note Details !
                  .right.pull-right
                    // BEGIN Note Date !
                    span.date 12/12/14
                    a(href='#')
                      i.fa.fa-chevron-right
                    // END Note Date !
                  // END Note Details !
                // END Note List !
                // BEGIN Note Item !
                li(data-noteid='3')
                  .left
                    // BEGIN Note Action !
                    .checkbox.check-warning.no-margin
                      input#qncheckbox4(type='checkbox', value='1')
                      label(for='qncheckbox4')
                    // END Note Action !
                    // BEGIN Note Preview Text !
                    p.note-preview
                      | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                    // BEGIN Note Preview Text !
                  // BEGIN Note Details !
                  .right.pull-right
                    // BEGIN Note Date !
                    span.date 12/12/14
                    a(href='#')
                      i.fa.fa-chevron-right
                    // END Note Date !
                  // END Note Details !
                // END Note List !
                // BEGIN Note Item !
                li(data-noteid='4')
                  .left
                    // BEGIN Note Action !
                    .checkbox.check-warning.no-margin
                      input#qncheckbox5(type='checkbox', value='1')
                      label(for='qncheckbox5')
                    // END Note Action !
                    // BEGIN Note Preview Text !
                    p.note-preview
                      | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                    // BEGIN Note Preview Text !
                  // BEGIN Note Details !
                  .right.pull-right
                    // BEGIN Note Date !
                    span.date 12/12/14
                    a(href='#')
                      i.fa.fa-chevron-right
                    // END Note Date !
                  // END Note Details !
                // END Note List !
            // END Note List !
            #quick-note.view.note
              div
                ul.toolbar
                  li
                    a.close-note-link(href='#')
                      i.pg-arrow_left
                  li
                    a(href='#', data-action='Bold')
                      i.fa.fa-bold
                  li
                    a(href='#', data-action='Italic')
                      i.fa.fa-italic
                  li
                    a(href='#')
                      i.fa.fa-link
                .body
                  div
                    .top
                      span 21st april 2014 2:13am
                    .content
                      .quick-note-editor.full-width.full-height.js-input(contenteditable='true')
        // END Notes !
        // BEGIN Alerts !
        #quickview-alerts.tab-pane.fade.no-padding
          #alerts.view-port.clearfix
            // BEGIN Alerts View !
            .view.bg-white
              // BEGIN View Header !
              .navbar.navbar-default.navbar-sm
                .navbar-inner
                  // BEGIN Header Controler !
                  a.inline.action.p-l-10.link.text-master(href='javascript:;', data-navigate='view', data-view-port='#chat', data-view-animation='push-parrallax')
                    i.pg-more
                  // END Header Controler !
                  .view-heading
                    | Notications
                  // BEGIN Header Controler !
                  a.inline.action.p-r-10.pull-right.link.text-master(href='#')
                    i.pg-search
                  // END Header Controler !
              // END View Header !
              // BEGIN Alert List !
              .list-view.boreded.no-top-border(data-init-list-view='ioslist')
                // BEGIN List Group !
                .list-view-group-container
                  // BEGIN List Group Header!
                  .list-view-group-header.text-uppercase
                    | Calendar
                  // END List Group Header!
                  ul
                    // BEGIN List Group Item!
                    li.alert-list
                      // BEGIN Alert Item Set Animation using data-view-animation !
                      a(href='javascript:;', data-navigate='view', data-view-port='#chat', data-view-animation='push-parrallax')
                        p.col-xs-height.col-middle
                          span.text-warning.fs-10
                            i.fa.fa-circle
                        p.p-l-10.col-xs-height.col-middle.col-xs-9.overflow-ellipsis.fs-12
                          span.text-master David Nester Birthday
                        p.p-r-10.col-xs-height.col-middle.fs-12.text-right
                          span.text-warning
                            | Today 
                            br
                          span.text-master All Day
                      // END Alert Item!
                      // BEGIN List Group Item!
                    // END List Group Item!
                    // BEGIN List Group Item!
                    li.alert-list
                      // BEGIN Alert Item Set Animation using data-view-animation !
                      a(href='#', data-navigate='view', data-view-port='#chat', data-view-animation='push-parrallax')
                        p.col-xs-height.col-middle
                          span.text-warning.fs-10
                            i.fa.fa-circle
                        p.p-l-10.col-xs-height.col-middle.col-xs-9.overflow-ellipsis.fs-12
                          span.text-master Meeting at 2:30
                        p.p-r-10.col-xs-height.col-middle.fs-12.text-right
                          span.text-warning Today
                      // END Alert Item!
                    // END List Group Item!
                // END List Group !
                .list-view-group-container
                  // BEGIN List Group Header!
                  .list-view-group-header.text-uppercase
                    | Social
                  // END List Group Header!
                  ul
                    // BEGIN List Group Item!
                    li.alert-list
                      // BEGIN Alert Item Set Animation using data-view-animation !
                      a.p-t-10.p-b-10(href='javascript:;', data-navigate='view', data-view-port='#chat', data-view-animation='push-parrallax')
                        p.col-xs-height.col-middle
                          span.text-complete.fs-10
                            i.fa.fa-circle
                        p.p-l-10.col-xs-height.col-middle.col-xs-12.overflow-ellipsis.fs-12
                          span.text-master.link
                            | Jame Smith commented on your status
                            br
                          span.text-master “Perfection Simplified - Company Revox"
                      // END Alert Item!
                    // END List Group Item!
                    // BEGIN List Group Item!
                    li.alert-list
                      // BEGIN Alert Item Set Animation using data-view-animation !
                      a.p-t-10.p-b-10(href='javascript:;', data-navigate='view', data-view-port='#chat', data-view-animation='push-parrallax')
                        p.col-xs-height.col-middle
                          span.text-complete.fs-10
                            i.fa.fa-circle
                        p.p-l-10.col-xs-height.col-middle.col-xs-12.overflow-ellipsis.fs-12
                          span.text-master.link
                            | Jame Smith commented on your status
                            br
                          span.text-master “Perfection Simplified - Company Revox"
                      // END Alert Item!
                    // END List Group Item!
                .list-view-group-container
                  // BEGIN List Group Header!
                  .list-view-group-header.text-uppercase
                    | Sever Status
                  // END List Group Header!
                  ul
                    // BEGIN List Group Item!
                    li.alert-list
                      // BEGIN Alert Item Set Animation using data-view-animation !
                      a.p-t-10.p-b-10(href='#', data-navigate='view', data-view-port='#chat', data-view-animation='push-parrallax')
                        p.col-xs-height.col-middle
                          span.text-danger.fs-10
                            i.fa.fa-circle
                        p.p-l-10.col-xs-height.col-middle.col-xs-12.overflow-ellipsis.fs-12
                          span.text-master.link
                            | 12:13AM GTM, 10230, ID:WR174s
                            br
                          span.text-master Server Load Exceeted. Take action
                      // END Alert Item!
                    // END List Group Item!
              // END Alert List !
            // EEND Alerts View !
        // END Alerts !
    // END QUICKVIEW
    // START OVERLAY
    // BEGIN VENDOR JS